/*!
 * dKreator style
 * Clara Garnier - 2015
 */


body {	
    padding-top: 20px;

	font-family:'Open Sans', Helvetica, Segoe UI, Arial, sans-serif;

	font-size:13px;

	line-height:22px;

	transition:all .3s;

	-webkit-transition:all .3s;

	-moz-transition:all .3s;
	
	color:#000000;

    padding-right: 0 !important;
}



.row-m{
	margin-left:-30px;
	margin-right:-30px;
	margin-top: 15px;
	margin-bottom: 15px;

}

.row-s{
	margin-left:30px;
	margin-right:30px;
}

@media (max-width:768px){
	.row-m{
		margin-left:0px;
		margin-right: 0px;		
	}
	
}

@media (max-width: 992px){
    .col-margin{
        margin-bottom: 10px;
    }  
}



.form-control:focus {
  border-color:#ccc;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a{
	color:#000;
}

a:link{
	color:#000 !important;
	
}

a:hover,a:active,a:focus{
	outline:none;
	text-decoration:none;
	color:#000;
}

.nav-active{
	border-bottom: 3px solid #71BFC9;
}


.wrapper{
	max-width:1170px;
	margin:0 auto;
	min-height:100%;
	position:relative
}

.content-wrapper,.right-side,.main-footer{
	-webkit-transition:-webkit-transform .3s ease-in-out,margin .3s ease-in-out;
	-moz-transition:-moz-transform .3s ease-in-out,margin .3s ease-in-out;
	-o-transition:-o-transform .3s ease-in-out,margin .3s ease-in-out;
	transition:transform .3s ease-in-out,margin .3s ease-in-out;

	z-index:820
}

.layout-top-nav .content-wrapper,.layout-top-nav .right-side,.layout-top-nav .main-footer{
	margin-left:0
}

@media (max-width:768px){
	.content-wrapper,.right-side,.main-footer{
		margin-left:10px;
		margin-right:10px;

	}

}



@media (min-width:768px){
	.content-wrapper, .right-side, .main-footer{
		margin-left:0;
	}

}

.content-wrapper,.right-side{
	min-height:100%;
	z-index:800
}



.main-header .logo{
	-webkit-transition:width .3s ease-in-out;
	-o-transition:width .3s ease-in-out;
	transition:width .3s ease-in-out;
	display:block;
	float:left;
	height:50px;
	font-size:20px;
	line-height:50px;
	text-align:left;
	width:350px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	padding:0 15px;
	font-weight:300;
	overflow:hidden
}


.nav > li > a:focus, .nav > li > a:hover{
	background-color: #fff;
	color:#000;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
	background-color: #fff;
	color:#000;
	
}
	

/*---Nav---*/

.navbar-brand{
	height:70px;
}

.navbar .container-fluid, .navbar-collapse {
    padding-left:0;
}
.navbar-collapse.in {
    padding-left:30px;
    overflow: hidden;
}

.main-header .navbar-custom-menu,.main-header .navbar-right{
	float:right
}

@media (max-width:992px){
	.main-header .navbar-custom-menu a,.main-header .navbar-right a{
		color:inherit;
		background:transparent
	}

}

@media (max-width:768px){
	.main-header .navbar-right{
		float:none
	}

	.navbar-collapse .main-header .navbar-right{
		margin:7.5px -15px
	}

	.main-header .navbar-right>li{
		color:inherit;
		border:0
	}

}

@media (max-width:992px){
	.navbar-custom-menu .navbar-nav>li{
		float:left
	}

	.navbar-custom-menu .navbar-nav{
		margin:0;
		float:left
	}

	.navbar-custom-menu .navbar-nav>li>a{
		padding-top:15px;
		padding-bottom:15px;
		line-height:20px
	}

}

@media (max-width:768px){
	.main-header{
		position:relative
	}

	.main-header .logo,.main-header .navbar{
		width:100%;
		float:none
	}

	.main-header .navbar{
		margin:0
	}

	.main-header .navbar-custom-menu{
		float:right
	}

}

.navbar-custom-menu>.navbar-nav>li{
	position:relative
}

.navbar-custom-menu>.navbar-nav>li>.dropdown-menu{
	position:absolute;
	right:0;
	left:auto
}

@media (max-width:992px){
	.navbar-custom-menu>.navbar-nav{
		float:right
	}

	.navbar-custom-menu>.navbar-nav>li{
		position:static
	}

	.navbar-custom-menu>.navbar-nav>li>.dropdown-menu{
		position:absolute;
		right:5%;
		left:auto;
		border:1px solid #ddd;
		background:#fff
	}

}

@media (max-width:992px){
	.navbar-collapse.pull-left{
		float:none!important
	}

	.navbar-collapse.pull-left+.navbar-custom-menu{
		display:block;
		position:absolute;
		top:0;
		right:40px
	}

}

.d-nav > li > a {
    padding: 20px 20px 10px !important;
    margin-right: 30px !important;
    color: black;
    text-align:left !important;
}

.d-nav .open>a, .d-nav .open>a:focus, .d-nav .open>a:hover {
	padding: 0;
	/*display: inline-block;*/
    border-bottom: 3px solid #71bfc9;
	background:#fff !important;
	
}

.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 10px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}


.mega-dropdown-menu .dropdown-header {
  font-size: 12px;
  font-weight: 600;
  color: #555;
  padding: 5px 60px 5px 3px;
  line-height: 30px;
  border:0 !important;
}




.carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;

}
.left.carousel-control {
  right: 30px;
  left: inherit;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}

.main-header .navbar .nav>li.user>a>.fa,.main-header .navbar .nav>li.user>a>.glyphicon,.main-header .navbar .nav>li.user>a>.ion{
	margin-right:5px
}


/*---end Nav---*/

/*---Notifications menu---*/

.navbar-nav>.notifications-menu>.dropdown-menu,.navbar-nav>.messages-menu>.dropdown-menu,.navbar-nav>.tasks-menu>.dropdown-menu{
	width:280px;
	padding:0 0 0 0;
	margin:0;
	top:100%;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li,.navbar-nav>.messages-menu>.dropdown-menu>li,.navbar-nav>.tasks-menu>.dropdown-menu>li{
	position:relative
}

.navbar-nav>.notifications-menu>.dropdown-menu>li.header,.navbar-nav>.messages-menu>.dropdown-menu>li.header,.navbar-nav>.tasks-menu>.dropdown-menu>li.header{
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
	background-color:#ffffff;
	padding:7px 10px;
	border-bottom:1px solid #f4f4f4;
	color:#444444;
	font-size:14px
}

.navbar-nav>.notifications-menu>.dropdown-menu>li.footer>a,.navbar-nav>.messages-menu>.dropdown-menu>li.footer>a,.navbar-nav>.tasks-menu>.dropdown-menu>li.footer>a{
	border-top-left-radius:0;
	border-top-right-radius:0;
	border-bottom-right-radius:4px;
	border-bottom-left-radius:4px;
	font-size:12px;
	background-color:#fff;
	padding:7px 10px;
	border-bottom:1px solid #eeeeee;
	color:#444!important;
	text-align:center
}

@media (max-width:992px){
	.navbar-nav>.notifications-menu>.dropdown-menu>li.footer>a,.navbar-nav>.messages-menu>.dropdown-menu>li.footer>a,.navbar-nav>.tasks-menu>.dropdown-menu>li.footer>a{
		background:#fff!important;
		color:#444!important
	}

}

.navbar-nav>.notifications-menu>.dropdown-menu>li.footer>a:hover,.navbar-nav>.messages-menu>.dropdown-menu>li.footer>a:hover,.navbar-nav>.tasks-menu>.dropdown-menu>li.footer>a:hover{
	text-decoration:none;
	font-weight:normal
}
.navbar-nav>.notifications-menu>.dropdown-menu>li .menu,.navbar-nav>.messages-menu>.dropdown-menu>li .menu,.navbar-nav>.tasks-menu>.dropdown-menu>li .menu{
	/*max-height:200px;*/
	margin:0;
	padding:10px;
	list-style:none;
	overflow-x:hidden
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a,.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a,.navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a{
	display:block;
	white-space:nowrap;
	border-bottom:1px solid #f4f4f4
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a:hover,.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a:hover,.navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a:hover{
	background:#f4f4f4;
	text-decoration:none
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a{
	color:#444444;
	overflow:hidden;
	text-overflow:ellipsis;
	padding:10px
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a>.glyphicon,.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a>.fa,.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a>.ion{
	width:20px
}

@media (max-width:992px){
	.navbar-collapse.pull-left{
		float:none!important
	}

	.navbar-collapse.pull-left+.navbar-custom-menu{
		display:block;
		position:absolute;
		top:0;
		right:40px
	}

}

.open:not(.dropup)>.animated-dropdown-menu{
	backface-visibility:visible !important;
	-webkit-animation:flipInX .7s both;
	-o-animation:flipInX .7s both;
	animation:flipInX .7s both
}

/*---User---*/

.navbar-nav>.user-menu>.dropdown-menu{
	border-top-right-radius:0;
	border-top-left-radius:0;
	padding:1px 0 0 0;
	border-top-width:0;
	width:280px
}

.navbar-nav>.user-menu>.dropdown-menu,.navbar-nav>.user-menu>.dropdown-menu>.user-body{
	border-bottom-right-radius:4px;
	border-bottom-left-radius:4px
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header{
	height:175px;
	padding:10px;
	text-align:center;
	background-color: #71bfc9
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>img{
	z-index:5;
	height:90px;
	width:90px;
	border:3px solid;
	border-color:transparent;
	border-color:rgba(255,255,255,0.2)
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p{
	z-index:5;
	color:#fff;
	color:rgba(255,255,255,0.8);
	font-size:17px;
	margin-top:10px
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p>small{
	display:block;
	font-size:12px
}

.navbar-nav>.user-menu>.dropdown-menu>.user-body{
	padding:15px;
	border-bottom:1px solid #f4f4f4;
	border-top:1px solid #dddddd
}

.navbar-nav>.user-menu>.dropdown-menu>.user-body:before,.navbar-nav>.user-menu>.dropdown-menu>.user-body:after{
	content:" ";
	display:table
}

.navbar-nav>.user-menu>.dropdown-menu>.user-body:after{
	clear:both
}

.navbar-nav>.user-menu>.dropdown-menu>.user-body a{
	color:#444 !important
}

@media (max-width:992px){
	.navbar-nav>.user-menu>.dropdown-menu>.user-body a{
		background:#fff !important;
		color:#444 !important
	}

}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer{
	background-color:#f9f9f9;
	padding:10px
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer:before,.navbar-nav>.user-menu>.dropdown-menu>.user-footer:after{
	content:" ";
	display:table
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer:after{
	clear:both
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default{
	color:#666666
}

@media (max-width:992px){
	.navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default:hover{
		background-color:#f9f9f9
	}

}

.navbar-nav>.user-menu .user-image{
	float:left;
	width:25px;
	height:25px;
	border-radius:50%;
	margin-right:10px;
	margin-top:-2px
}

@media (max-width:768px){
	.navbar-nav>.user-menu .user-image{
		float:none;
		margin-right:0;
		margin-top:-8px;
		line-height:10px
	}

}

.user-panel{
	position:relative;
	width:100%;
	padding:10px;
	overflow:hidden
}

.user-panel:before,.user-panel:after{
	content:" ";
	display:table
}

.user-panel:after{
	clear:both
}

.user-panel>.image>img{
	width:100%;
	max-width:45px;
	height:auto
}

.user-panel>.info{
	padding:5px 5px 5px 15px;
	line-height:1;
	position:absolute;
	left:55px
}

.user-panel>.info>p{
	font-weight:600;
	margin-bottom:9px
}

.user-panel>.info>a{
	text-decoration:none;
	padding-right:5px;
	margin-top:3px;
	font-size:11px
}

.user-panel>.info>a>.fa,.user-panel>.info>a>.ion,.user-panel>.info>a>.glyphicon{
	margin-right:3px
}



.demo-img{
	background-color: #c2c4bf;
}


.small-d{
	width:25%;
	height: auto;
}

/*---Lists---*/

.h-list{
	list-style:none;
	margin:0;
	padding-right:5px;	
	display: inline-block;

	
}

.h-list li{
	display:inline-block;
}

.h-list li a{
	color:#636363; 
}

/*---end Lists---*/



.line{
	border-top: 1px solid #eceded;
}

.line-dark{
	border-top: 1px solid #aaaaaa;
	
}

.form-control{
	font-size: 13px !important;
}

.center{
	text-align: center;
}

.pale{
	color:#7b7b79;
}

.xx-small{
	font-size:10px;
}

.x-small{
	font-size:12px;

}
.xb-small{
	font-size:12px;
	font-weight: 600;
}

.small{
	font-size:13px;
}

.x-medium{
	font-size: 13px;
	font-weight: 400;
}

.title{
	font-size:18px;
}

.ttls{
	font-size: 15px;

}

.boldie{
	font-weight:600;
}

.big-title{
	font-size: 24px;
	font-weight: 300;
}

.big-title-bold{
	font-size: 24px;
	font-weight: 600;
}

.big-plus{
	font-size: 30px;
	font-weight: 300;
}

.pro-name{
	color:#fff;
	font-style: italic;
	font-size: 12px;
	font-weight: 600;
	font-style: italic;

}

.medium{
	font-size:13px;
	font-weight: 600;
}


.teal{
	color:#71bfc9 !important;
}

.mag{
	color:#c18ecf;
}

.magenta{
	color:#9764a5
}


.like{
	color:#cc1b59;
}

.d-grey{
	color:#636363;
}

.red{
	color: #cc2229;
}

.over-txt{
	color:#fff !important;
}

.vline{
	margin: 0 7px 0 7px;
	border-right: 1px solid #252525;
}

.vline-pale{
	margin: 0 2px 0 2px;
	border-right: 1px solid #ddd;
}

.d-modal{
	border-radius:0px;
	border-top: 4px solid #71bfc9;
	border-right: 0px;
	border-left: 0px;
}

.d-modal-slide{
	position: absolute;
	left:5%;
	right:50%;
	width:1000px;
	heigh:auto;
	
	
}

.modal-header-warning {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #71bfc9;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
     border-top-left-radius: 0px;
     border-top-right-radius: 0px;
}


.modal-img{
	border-radius:0px;
	width:100%;
	max-width: 1170px;
}

.modal-img-body{
	margin-left:0;
	margin-right:0;
	padding-left:0;
	padding right:0;
}

.modal-reviews{
	border-radius:0px;
	width:100%;
	max-width:768px;
}

.modal-reviews-body{
	margin-left:0;
	margin-right:0;
	padding-left:0;
	padding right:0;
}

.no-corner{
	border-radius:0 !important;
}

.field-w{
	width:100%;
}

.generic-a{
	width: 100px;
	height: auto;
}

.navbar-toggle {
    color: #000;
    background-color: #fff;
    }

.btn-search{
	color: #333;
    background-color: #fff;
    /* border-color: #ccc; */
}

.form-search{
	display:block;
	width:100%;
	height:34px;
	padding:6px 12px;
	font-size:14px;
	line-height:1;
	color:#555;
	background-color:#fff;

	border-bottom:1px solid #252525;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	
}

.d-field{
	display:block;
	width:100%;
	height:34px;
	padding:6px 12px;
	font-size:14px;
	line-height:1;
	color:#555;
	background-color:#fff;
	border-bottom:1px solid #aaaaaa;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	
}

.s-field{
	height: 27px;
}

select.form-control{
	padding-top: 1px;
}

.option-s{
	
}

.menu-item{
	font-weight: 600;
	font-size:14px;
}

.menu-item > a:hover {

	 border-bottom: 3px solid #66cccc;
}

.btn-transparent{
	background-color: #fff;
	border:none;
	padding-top: 7px;
	padding-left:0;
}

.btn-transparent:hover{
	font-weight: 700px;
}



.btn-tag{
   	color: #333;
	background-color: #FFF;
	border-color: #CCC;
	padding:3px 10px 3px 10px;;
	margin-right:5px;
	margin-bottom: 5px;
	font-size: 11px;
	font-weight:600;
	border-radius: 0px !important;
}

.btn-tag:active{
	background:#71bfc9;
	color:#fff;
	
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: #fff;
    background-color: #71bfc9;
    border-color: #71bfc9;
}

.btn-inline{
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0px;
	font-size: 12px;
	font-weight: 400;
	color:#fff;
	line-height: 1.42857;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-moz-user-select: none;
	background-color: c7abcf;
	border: 1px solid transparent;
}

.btn-teal-big{
	background:#d4ebee;
   	color:#000 !important;
   	font-size:18px;
   	font-weight:300;
   text-align:center;
   padding:7px 30px 7px 30px;
   display:inline-block;
   border-radius: 0px;
   transition:background .3s;
   -webkit-transition:background .3s;
   -moz-transition:background .3s;
   margin:5px 0;
   border:none;
   }
   
.btn-teal-big:hover{
   	background: #71bfc9;
	color: #fff !important;
   }


.btn-teal{
   background:#a7d3da;
   color:#000 !important;
   font-size:11px;
   font-weight:600;
   text-align:center;
   padding:7px 10px 7px 10px;
   display:inline-block;
   border-radius: 0px;
   transition:background .3s;
   -webkit-transition:background .3s;
   -moz-transition:background .3s;
   margin:5px 0;
   border:none;
}

.btn-teal:hover{
	background: #71bfc9;
	color: #fff !important;
}

.btn-lila{
   background:#ded0e2;
   color:#000 !important;
   font-size:11px;
   font-weight:600;
   text-align:center;
   padding:7px 10px 7px 10px;
   display:inline-block;
   border-radius: 0px;
   transition:background .3s;
   -webkit-transition:background .3s;
   -moz-transition:background .3s;
   margin:5px 0;
   border:none;
}

.btn-lila:hover{
	background: #cbaad5;
	color: #fff !important;
}

.btn-teal-wide{
	background:#a7d3da;
   color:#000 !important;
   font-size:11px;
   font-weight:600;
   text-align:center;
   padding:7px 30px 7px 30px;
   display:inline-block;
   border-radius: 0px;
   transition:background .3s;
   -webkit-transition:background .3s;
   -moz-transition:background .3s;
   margin:5px 0;
   border:none;
	
}

.btn-teal-wide:hover{
	background: #71bfc9;
	color: #fff !important;
}

.btn-pale-wide{
	background:#d4ebee;
   color:#000 !important;
   font-size:11px;
   font-weight:600;
   text-align:center;
   padding:5px 10px 5px 10px;
   display:inline-block;
   border-radius: 0px;
   transition:background .3s;
   -webkit-transition:background .3s;
   -moz-transition:background .3s;
   margin:5px 0;
   border:none;
	
}

.btn-pale-wide:hover{
	background: #71bfc9;
	color: #fff !important;
	
}



.btn-teal-w{
	width:100px;
	background:#a7d3da;
   color:#000 !important;
   font-size:11px;
   font-weight:600;
   text-align:center;
   padding:7px 20px 7px 20px;
   display:inline-block;
   border-radius: 0px;
   transition:background .3s;
   -webkit-transition:background .3s;
   -moz-transition:background .3s;
   margin:5px 0;
   border:none;
	
}

.btn-teal-w:hover{
	background: #71bfc9;
	color: #fff !important;
}



.btn-lila-w{
	width:100px;
	background:#ded0e2;
   color:#000 !important;
   font-size:11px;
   font-weight:600;
   text-align:center;
   padding:7px 20px 7px 20px;
   display:inline-block;
   border-radius: 0px;
   transition:background .3s;
   -webkit-transition:background .3s;
   -moz-transition:background .3s;
   margin:5px 0;
   border:none;
	
}

.btn-lila-w:hover{
	background: #cbaad5;
	color: #fff !important;
}

.btn-pale-w{
	width:100px;
	background:#f6f6f6;
   color:#000 !important;
   font-size:11px;
   font-weight:600;
   text-align:center;
   padding:7px 20px 7px 20px;
   display:inline-block;
   border-radius: 0px;
   transition:background .3s;
   -webkit-transition:background .3s;
   -moz-transition:background .3s;
   margin:5px 0;
   border:none;
	
}

.btn-pale-w:hover{
	background: #636363;
	color: #fff !important;
}

.btn-teal-w2{
	width:150px;
	background:#a7d3da;
   color:#000 !important;
   font-size:11px;
   font-weight:600;
   text-align:center;
   padding:10px 20px 10px 20px;
   display:inline-block;
   border-radius: 0px;
   transition:background .3s;
   -webkit-transition:background .3s;
   -moz-transition:background .3s;
   margin:5px 0;
   border:none;
	
}

.btn-teal-w2:hover{
	background: #71bfc9;
	color: #fff !important;
}

.btn-pale-w2{
	width:150px;
	background:#f6f6f6;
   color:#000 !important;
   font-size:11px;
   font-weight:600;
   text-align:center;
   padding:10px 20px 10px 20px;
   display:inline-block;
   border-radius: 0px;
   transition:background .3s;
   -webkit-transition:background .3s;
   -moz-transition:background .3s;
   margin:5px 0;
   border:none;
	
}

.btn-pale-w2:hover{
	background: #9a9a9a;
	color: #fff !important;
}



.btn-lila-w2{
	width:150px;
	background:#ded0e2;
   color:#000 !important;
   font-size:11px;
   font-weight:600;
   text-align:center;
   padding:10px 20px 10px 20px;
   display:inline-block;
   border-radius: 0px;
   transition:background .3s;
   -webkit-transition:background .3s;
   -moz-transition:background .3s;
   margin:5px 0;
   border:none;
	
}

.btn-lila-w2:hover{
	background: #cbaad5;
	color: #fff !important;
}

.btn-border{
	border: 1px solid #aaa;
	background-color: #fff;
	padding: 5px 15px 5px 15px;
	color: 71bfc9;
	font-size: 11px;
	font-weight: 600;
}

.btn-border:focus{
	background-color: #71bfc9;
	color: #fff;
	border: 1px solid #71bfc9;
}



.d-border{
	border-top: 3px solid #71bfc9;
}

.grey-bar{
	background-color:#f9f9f9;
	padding-top:15px;
	padding-left:20px;
	height: 50px;
}

.bg-that{
	background-color:#f9f9f9;
	padding: 5px 0 5px 0;
}

.bg-teal-pale{
	background-color:#f0f8f9;
	padding: 10px 10px 10px 10px;
	tex-align: center !important;
}

.that-bar{
	height: 50px;
}

.that-bar ul li  {
	padding-top:5px;
}

.spaces{
	padding: 3px 0 3px 0;

}

.vspaces{
	padding: 0 5px 0 5px;
}

.vspaces2{
	padding: 0 15px 0 10px;
}

.vspaces3{
	padding: 0 2px 0 0;
}

.vcenter{
	display: inline-block;
    vertical-align: middle;
    float: none;
}

.negative-pad{
	margin-left:-15px;
}

@media (min-width:992px){
	.n-15{
		margin-left:-15px;
	}	
}

.negative10{
	margin-left:-10px;
}



.small-user{
	width:55px;
	height:auto;
}

@media (min-width:992px) {

	.my-right{
		width: 100%;
		float:right;
		text-align: right;
		
	}
}

.d-right{
	
	padding-right:20px;
	float: right;
}

.d-left{
	text-align: left !important;
}

@media (max-width:992px){
	.push-it{
	margin-left: 100px;
}
}

@media (max-width:768px){
	.push-it{
	text-align: center;
}
}

.jumbotron-img {
    position: relative;
    background: #000 url("../img/welcome.jpg") center center;
    width: 100%;
    height: 290px;
    background-size: cover;
    overflow: hidden;
}

.btn-white{
	position:absolute;
	top:40%;
	font-size:14px;
	font-weight:600;
	background-color:rgba(255, 255, 255, 0.8);
	padding:10px 35px 10px 35px;
   -webkit-transition:background .3s;
   -moz-transition:background .3s;
}

.unnactive-star{
	color:#aaa;
}

.tag-list li{
	display: inline-block;
	list-style:none;
	margin:0;
	padding:0;	
}

.teal-list{
	line-height: 24px;
	padding-left:15px;	
}

.teal-list li{
	display: block;
}

.teal-list li:before{
	content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;

    margin-left: -17px;
    color: #71bfc9;
	
}

.d-list{
	list-style:none;
	margin:0;
	padding:0;	
	display: inline-block;
}

.d-list li{
    display:inline-block;	
}

.d-list li a{
	font-size:13px;
	padding-right: 5px;
	border-right: 1px solid #fff;
}

.dashed-zone{
	background-color: #fff;
	width:200px;
	height:200px;
	color: #939393;
	border:1px dashed; 
 	font-size:14px;-moz-appearance; 
 	font-weight:400;
  	border-color: #939393;
  	line-height: 200px;
  	text-align: center
}

.dashed-btn{
	background-color: #fff;
	width:20px;
	height: 20px;
	color:#939393;
	border: 1px dashed #939393;
	font-size:14px;-moz-appearance; 
 	font-weight:400;
 	text-align: center;
 	line-height:14px
}

.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

.pro-bar{
	background-color: #96d0d7 !important;
}

.well-light{
	background-color: #fff;
	padding:5px 15px 10px 15px;
}

.well-pale{
	background-color:c6e5e9;
	height:100%; 
}

/*---images---*/

.project-wide{
	width:570px;
	height:270px;
}

.image-r{
	width:100%;
}

/*---*/

.thumbnail{
    position:relative;
    overflow:hidden;
    display: block;
	padding: 0;
	margin-bottom: 10px;
	line-height: 1.42857;
	background-color: #FFF;
	border: 0px;
	border-radius: 0px;
	transition: border 0.2s ease-in-out 0s;
}
 


@media (min-width:992px){
	.caption {
    position:absolute;
   	bottom: 0;
    right:0;
    background:rgba(255, 255, 255, 0.75);
    width:100%;
    height:20%;
    padding:2%;
    display: none;
    text-align:center;
    color:#000 !important;
    z-index:2;
}

	.caption p{
		margin:10px;
}
}

@media (min-width:768px){
	.caption {
    position:absolute;
   	bottom: 0;
    right:0;
    background:rgba(255, 255, 255, 0.75);
    width:100%;
    height:20%;
    padding:2%;
    display: none;
    text-align:center;
    color:#000 !important;
    z-index:2;
}

	.caption p{
		margin:10px;
}
}

@media (max-width:480px){
	.caption {
    position:absolute;
   	bottom: 0;
    right:0;
    background:rgba(255, 255, 255, 0.75);
    width:100%;
    height:40%;
    padding:2%;
    display: none;
    text-align:center;
    color:#000 !important;
    z-index:2;
}

	.caption p{
		margin:5px;
}
}


@media (min-width: 768px) {
  .modal-dialog.as-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-dialog.as-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-dialog.as-container {
    width: 1100px;
  }
}

.modal-dialog.as-container .modal-content {
    float: none;
    margin: auto;
}


.wrapper-img{
	background: url("../img/full_bg.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@media (max-width: 480px) {
  .back{	
	width:90%;
	background-color:rgba(255, 255, 255, 0.9);
	padding: 10px 3px 10px 3px;
	height:auto;
	margin-left: auto ;
  	margin-right: auto ;
}
}

@media (max-width: 768px) {
  .back{	
	width:80%;
	background-color:rgba(255, 255, 255, 0.9);
	padding: 20px 20px 20px 20px;
	height:auto;
	margin-left: auto ;
  	margin-right: auto ;
}
}

@media (min-width: 992px) {
  .back{	
	width:55%;
	background-color:rgba(255, 255, 255, 0.9);
	padding: 20px 20px 20px 20px;
	height:auto;
	margin-left: auto ;
  	margin-right: auto ;
}
}
@media (min-width: 992px) {
	.block-over{
		padding: 20px 0 20px 30px;
		position: absolute; 
	   	color:#fff !important;
	   	top: 30%; 
	   	bottom: 20%;
	   	left: 15px; 
	   	width: 30%;
	   	height: 53%;
	   	background: rgb(0, 0, 0); /* fallback color */
	   	background: rgba(0, 0, 0, 0.7);	
	}
}

@media (max-width: 768px) {
	.block-over{
		padding: 15px 0 15px 30px;
		position: absolute; 
	   	color:#fff !important;
	   	top: 10%; 
	   	bottom: 20%;
	   	left: 15px; 
	   	width: 40%;
	   	height: 80%;
	   	background: rgb(0, 0, 0); /* fallback color */
	   	background: rgba(0, 0, 0, 0.7);	
	}
}

@media (max-width: 480px) {
	.block-over{
		padding: 10px 0 10px 20px;
		position: absolute; 
	   	color:#fff !important;
	   	top: 50%; 
	   	bottom: 20%;
	   	left: 15px; 
	   	width: 80%;
	   	height: 50%;
	   	background: rgb(0, 0, 0); /* fallback color */
	   	background: rgba(0, 0, 0, 0.7);	
	}
}

.big-over{
	position: absolute; 
   color:#fff;
   top: 30%;  
   width: 80%;
   text-align: center;
   font-weight:300;
   font-size:48px;
}

.subtext-over{
	padding-top: 50px;
	position: absolute; 
	text-align: center;
   color:#fff;
   top: 40%; 
   width: 100%;	
}


@media (min-width:992px) {
	
	.square {
	    float:left;
	    position: relative;
	    width: 220px;
	    height: 220px;
	    padding-bottom : 100%;
	    margin:0%;
	    background-color:#c6e5e9 !important;
	    overflow:hidden;
}
}

@media (min-width:768px) {
	
	.square {
	    float:left;
	    position: relative;
	    width: 50%;
	    height:auto;
	    padding-bottom : 100%;
	    margin:0%;
	    background-color:#c6e5e9;
	    overflow:hidden;
}
}


.content {
    position:absolute;
    height:90%; /* = 100% - 2*5% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 5%;
   }
   

.big-txt-over {
        text-align: center;
        
        font-size: 40px;
        color: #fff;
        font-weight: 300;
        opacity: 1;
        position: absolute;
        top: 30%;
        left: 50%;
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        -moz-transition: opacity 0.5s ease;
        -o-transition: opacity 0.5s ease;
        -webkit-transition: opacity 0.5s ease;
        transition: opacity 0.5s ease;
    } 
    
.small-txt-over {
        text-align: center;        
        font-size: 18px;
        color: #fff;
        font-weight: 400;
        opacity: 1;
        position: absolute;
        top: 55%;
        left: 50%;
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        -moz-transition: opacity 0.5s ease;
        -o-transition: opacity 0.5s ease;
        -webkit-transition: opacity 0.5s ease;
        transition: opacity 0.5s ease;
    }
    
.medium-txt-over{
	text-align: center;
	font-size:20px;
	font-weight: 300;
	color:#fff;
    opacity: 1;
    position: absolute;
    top: 35%;
    left: 50%;
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}
    
.author-txt-over{
	    text-align:center;        
        font-size: 12px;
        line-height: 12px;
        color: #fff;
        font-weight: 400;
        opacity: 1;
        position: absolute;
        top: 80%;
        left: 10%;

    }
}

  



/*---Clears---*/
.clearfix-height5{height: 5px}.clearfix-height10{height: 10px}.clearfix-height15{height: 15px}.clearfix-height20{height: 20px}.clearfix-height30{height: 30px}.clearfix-height35{height: 35px}.clearfix-height40{height: 40px}.clearfix-height45{height: 45px}.clearfix-height50{height: 150px}.clearfix-height50p{height: 50px}.clearfix-height60{height: 60px}.clearfix-height80{height: 80px}.clearfix-height160{height: 160px}.clearfix-height65{height: 65px}
/*---end clears---*/

.row-flex, .row-flex > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.row-flex-wrap {
	-webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex:0;
}

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
	 margin:0px; /* hack adjust for wrapping */
}

.container-flex > div[class*='col-'] div,.row-flex > div[class*='col-'] div {
	width:100%;
}


.flex-col {
    display: flex;
    display: -webkit-flex;
    flex: 1 100%;
	flex-flow: column nowrap;
}

.flex-grow {
	display: flex;
    -webkit-flex: 2;
    flex: 1;
}

.panel-d{
	margin-bottom: 0px;
    background-color: #c6e5e9;
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-d-footer {
    padding: 10px 15px;
    background-color: #6e5e9;
    border-top: 1px solid #6e5e9;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.col-center {
   float: none;
   margin-right: auto;
   margin-left: auto;
}

@media (min-width:992px) {
	.quarter{
	  width:25%;
	  height:100%;
	  float:left;
	}
	.contents{
	  height:50%;
	  width:100%;
	}
}

@media (max-width:768px) {
	.quarter{
	  width:25%;
	  height:auto;
	  float:left;
	}
	.contents	{
	  height:50%;
	  width:100%;
}
}

@media (max-width:480px) {
	.quarter{
	  width:100%;
	  height:auto;
	  float:left;
	}
	.contents{
	  height:auto;
	  width:100%;
	}
}

/*---pagination---*/
.pagination{
	margin: 0;
	border:0;
}

.pagination>li>a{
	border:0;
	color: #71bfc9;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 3;
    color: #000;
    background-color: #d4ebee;
    border:0;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #71bfc9;
}

@media (min-width: 992px) {
    .pull-right-sm {
        float: right;
    }
}

/*---input text for project edition*/
input::-webkit-input-placeholder {
color: #252525 !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #252525 !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #252525 !important;  
}
 
input:-ms-input-placeholder {  
color: #252525 !important;  
}

.tag{
	position: absolute;
	padding: 5px 20px 20px 5px;
	color:#d9534f;
}

.tag:hover{
	color:fff;
}

.popover{
	width:250px;
	border-radius: 0;
	border-top: 3px solid #71bfc9;
}

.popover.arrow{
	left: 50%;
	
}

/*-- breadcrumbs --*/

.breadcrumb {
    padding: 15px 15px;
    margin-bottom: 5px;
    list-style: none;
    background-color: #fff;
    border-radius: 4px;
    
}











